body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(70, 70, 70);
    color: rgb(211, 211, 211);
    
}

ul{
    
    list-style-type: decimal;
}

.container{
    width: 1000px;
}

.question{
    background-color:rgb(44, 44, 44);
    margin-top: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid rgb(204, 204, 204);
}

.answer{
    background-color:rgb(44, 44, 44);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    border: 1px solid rgb(204, 204, 204);
}

